  <h1>Help</h1>
  <p>
    Получить помощь по Ruby on Rails можно 
    <a href="http://railstutorial.org/help">на этой странице</a>.
    Узнать подробнее об этом приложении можно в книге
    <a href="http://railstutorial.org/book">'Rails Tutorial book'</a>.
  </p>