<h1>Sample App</h1>

  <p>
    Это главная страница моего первого веб-приложения сделанная по книге
    <a href="http://railstutorial.org/">'Ruby on Rails Tutorial'.</a>
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
